html,
body {
	height: 100%;
}

body {
	margin: 0;
	color: var(--text);

	background-color: var(--bg);
	background-image: radial-gradient(var(--grid-dot) 1px, transparent 1px);
	background-size: 16px 16px;
	background-position: 0 0;
	will-change: background-position;
	animation: dots-move 12s linear infinite;
}

@keyframes dots-move {
	from {
		background-position: 160px 0;
	}
	to {
		background-position: 0 160px;
	}
}
